# Виртуальное окружение
venv/
.env
__pycache__/

# IDE
/.idea/
/.vscode/

# macOS
.DS_Store

# Логи
*.log

# Ваше venv
pdf_python/venv/

# Виртуальное окружение
venv/
.env
__pycache__/
*.pyc

# IDE
/.idea/

# macOS
.DS_Store

# Логи
*.log

# Папки с зависимостями
pdf_python/venv/
files/